<div class="parent" *ngIf="isFullScreen && isRightScale">
  <div class="div1">
    <app-side-menu></app-side-menu>
  </div>
  <div class="div2">
    <router-outlet></router-outlet>
  </div>
</div>

<div class="blanket" *ngIf="!(isFullScreen && isRightScale)">
  <div class="popup">
    <h1>Hëlp!</h1>
    <div *ngIf="checkBrowser() !== 'Chrome'">
      <p>Browser not supported :(</p>
      <p>Switch to <a href="https://google.com/chrome/">Chrome</a></p>
    </div>
    <div *ngIf="checkBrowser() === 'Chrome'">
      <p *ngIf="!isRightScale">Please zoom {{scale > 100 ? 'out' : 'in'}} to 100% (Currently {{scale}}%)</p>
      <p *ngIf="!isFullScreen">Please make your window fullscreen</p>
      <button (click)="goFullScreen()" [disabled]="isFullScreen">Fullscreen</button>
    </div>
  </div>
</div>
