@font-face {
    font-family: 'Dubai-regular';
    src: url('../../assets/fonts/Dubai/DubaiW23-Regular.ttf');
    font-weight: 400;
}

.side-menu {
    height: 100%;
    background: #636BFF;
    border: none;
}

.expanded {
    /*450/1920 1536*/
    width: 360px;
    padding: 32px;
}

.nav-header > h1 {
    margin: 0px;
    font-family: 'Dubai-regular';
    color: white;
}

.nav-items > div {
    font-family: 'Dubai-regular';
    color: white;
}

.nav-footer > button {
    background: white;
    border: none;
    border-radius: 100px;
    color: #636BFF;
}