<div class="side-menu expanded">
  <div class="nav-header">
    <h1>Rename</h1>
  </div>
  <ul class="nav-items">
    <li><a class="navbar-brand" routerLink="/string">String</a></li>
    <li><a routerLink="/fileData"> File Data </a></li>
    <li><a routerLink="/gps-info"> GPS Information </a></li>
    <li><a routerLink="/date"> Date </a></li>
    <li><a routerLink="/incrementNumber"> Incrementing Number </a></li>
    <li><a routerLink="/originalName"> Original Name </a></li>
  </ul>
  <div class="nav-footer">
    <a routerLink="/preview">
      <button class="btn-preview" *ngIf="router.url !== '/preview'">Preview</button>
    </a>
    <button class="btn-preview" *ngIf="router.url === '/preview'">Save</button>
    <!--Add icon here later-->
  </div>
</div>
