@font-face {
    font-family: 'Dubai-regular';
    src: url('../../assets/fonts/Dubai/DubaiW23-Regular.ttf');
    font-weight: 400;
}

.side-menu {
    height: 100%;
    background: #636BFF;
    border: none;
}

.expanded {
    padding: 32px;
    height: calc(100% - 64px);
    width: 70%;
}

.nav-header > h1 {
    margin: 0px;
    margin-left: 20px;
    font-family: 'Dubai-regular';
    font-size: 50px;
    color: white;
}

.nav-items, .nav-items a {
    font-family: 'Dubai-regular';
    color: rgba(255, 255, 255, 0.808);
    list-style-type: none;
    text-decoration: none;
    font-size: 30px;
}

.nav-items a:hover {
    color: white;
}


.nav-footer > button {
    background: white;
    border: none;
    border-radius: 100px;
    color: #636BFF;
}

#btn-preview {
    font-size: 25px;
    padding: 15px 50px 15px 50px;
    margin-left: 10%;
}