@font-face {
    font-family: 'Dubai-regular';
    src: url('../../assets/fonts/Dubai/DubaiW23-Regular.ttf');
    font-weight: 400;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    align-items: stretch;
    height: 100%;
  }
.flex-column {
    margin: 5%;
    padding: 3%;
    width: 30%;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    border-radius: 25px;

    line-height: 5vw;
    font-family: 'Dubai-regular';

}
#flex-column2 {
    background: rgba(99, 107, 255, 0.87);
}

.column-header {
    font-weight: bold;
    text-decoration: underline;
    font-size:20px;
}

.column-item2 {
    color: white;
}
